Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

XTerm.termName: xterm-256color

XTerm*Background: #272828
XTerm*Foreground: #7FFECE
XTerm*font: 9X15 Terminus
XTerm*saveLines: 1000
XTerm*HiForeColor: #1e35c9
XTerm*HiBackColor: #e76cf5
XTerm*geometry: +50+100
Xterm*scrollBar: True
XTerm*renderFont: true
XTerm.vt100.faceName: Hack Nerd Font: size = 10: antialias = false
XTerm.vt100.font: 7x13
XTerm*utf8: 2
XTerm*locale: true
XTerm.vt100.faceSize: 13
